.section {
  padding: 10px 10px 2px 10px;
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 5px;

  &.active {
    background-color: #f8f8f8;
    border-radius: 6px;
  }
}

.requestForm {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.footerContent {
  max-width: 50em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
